#stock-module {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

#stock-module.hide-stock-module {
  display: none;
}

#stock-module .stock-inner-module {
  display: inline-block;
  position: relative;
  top: 80px;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}

#stock-module .stock-inner-module svg {
  position: absolute;
  right: 10px;
  cursor: pointer;
}