#search-box {
  display: inline-block;
  position: relative;
  padding: 5px;
  text-align: center;
}

#search-box svg {
  position: absolute;
  top: 17px;
  right: 0;
  cursor: pointer;
}

#search-box .search-input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
  outline: unset;
}

#search-box .search-imput::placeholder {
  color: black;
  opacity: 0.5;
}