#stock-portfolio {
  position: relative;
  padding: 10px;
  overflow: auto;
  z-index: 5;
}

#stock-portfolio table {
  border-collapse: collapse;
}

#stock-portfolio th, #stock-portfolio td {
  border: 1px solid black;
}

#stock-portfolio th {
  border-top: 0px solid white;
  cursor: pointer;
}

#stock-portfolio th.sort-by {
  text-decoration: underline;
  background-color: rgba(128, 0, 128, 0.2);
}

#stock-module .stock-inner-module .value.loss {
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 8px;
}

#stock-module .stock-inner-module .value.profit {
  background-color: rgba(0, 128, 0, 0.3);
  border-radius: 8px;
}